@charset "utf-8";
 
 /* 首页样式 */

.content-lump{ margin-top: 15px; padding: 15px 0; border-top: solid 3px #f27532;}

.banner-lump{ position: relative; width: 800px; height: 310px;}
.banner-lump .banner{ position: relative;}
.banner-lump .banner img{ width: 800px; height: 310px;} 
.banner-lump .banner li h2{ position: absolute; bottom: 0px; left: 0px; width: 800px; height: 40px; line-height: 40px; text-indent: 20px; color: #fff; font-size: 20px; background: #000; opacity: 0.65; filter: Alpha(opacity=65); font-family: "微软雅黑";}
.banner-lump .banner li a{ display: block;}
.banner-lump .banner li{ position: absolute; top: 0; left: 0; z-index: 0; opacity: 0; filter: Alpha(opacity=0);}
.banner-lump .banner li.cur{ z-index: 9;}
.banner-lump .banner li:first-child{ opacity: 1; filter: Alpha(opacity=100);}

.banner-lump .slide{ position: absolute; right: 15px; bottom: 15px; z-index: 10;}
.banner-lump .slide li{ position: relative; float: left; z-index: 10; margin-right: 10px;}
.banner-lump .slide li a{ display: block; width: 13px; height: 13px; background: url(../images/index/round.png) no-repeat;}
.banner-lump .slide li.cur a{ background: url(../images/index/active.png) no-repeat;}

.main-news{ padding: 10px 30px; width: 330px; height: 290px; background: #f8f8f8;}
.main-news h2{ margin-bottom: 10px; color: #0f9e59; font-size: 20px; font-style: italic;}
.main-news li{ padding: 4px 0; border-top: solid 1px #bfbfbf;}
.main-news li:first-child{ border-top: 0;}
.main-news li a{ font-size: 18px; text-indent: 10px; color: #666; font-weight: bold;}
.main-news li a:hover{ color: red;}

.news-item{ margin: 10px auto;}
.news-item .list{ width: 650px;}
.news-item .list li{ width: 620px; padding: 15px;}
.news-item .list li:hover{ background: #f8f8f8;}
.news-item .list li p{ margin:0 8px; font-size: 12px; color: #bbb;}
.news-item .list li p.update{ margin-right: 20px;}
.news-item .list .txt{ height: 45px; line-height: 45px; color: #404040; font-size: 20px; font-weight: bold;} 
.news-item .list .txt:hover{ color: #ff6600;}
.news-item .list .img-box{ position: relative; float: left; width: 190px; height: 120px; margin: 0 16px 10px 0; overflow: hidden;} 
.news-item .list .img-box img{ position: absolute; width: 190px; height: 120px; -webkit-transition: all .8s; -o-transition: all .8s; transition: all .8s ;overflow: hidden;}
.news-item .list .img-box img:hover{ -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2);}

.left-navgation{ background: #f8f8f8; padding: 20px; margin-right: 20px;}
.left-navgation h2, .right-navigation h2{ position: relative; height: 25px; line-height: 25px; padding-left: 10px; border-left: solid 5px green; font-size: 18px; color: #000;}
.left-navgation h2 a{ position: absolute; right: -10px; bottom: -5px; color: #589bab; font-size: 12px; float: right;}
.left-navgation h2 a:hover{ color: #ff6600;}
.left-navgation ul{ margin-top: 15px; border-top: solid 1px #dfdfdf;}
.left-navgation li{ padding: 30px 5px 5px 5px; margin-bottom: 5px;}
.left-navgation li em{ margin-right: 20px; color: #0f9e59; font-size: 22px; font-family: "Georgia";}
.left-navgation li a{ display: block; width: 150px; color: #666; font-size: 14px;}
.left-navgation li a:hover{ color: #f33;}

.right-navigation{ width: 275px;}
.right-navigation ul{ margin-top: 30px;}
.right-navigation li{ position: relative; width: 260px; margin-bottom: 30px;}
.right-navigation li a{ display: block;}
.right-navigation li img{ width: 260px; height: 150px;}

.txt-mask{ position: absolute; left: 0; bottom: 0px; width: 100%; height: 0%; background: #9400D3; opacity: .85; filter: Alpha(opacity=85);}
.txt-mask p{ padding: 10px 0; margin: 30px 20px 0 20px; font-size: 24px; color: #fff; text-align: center; border-top: solid 1px #fff; border-bottom: solid 1px #fff; font-weight: bold;}
.txt-mask span{ font-size: 14px; color: #fff;}

.friendly-link{ margin-top: 40px; width: 200px;}
.friendly-link h2{ margin-bottom: 10px;}
.friendly-link a{ float: left; display: block; margin: 5px 3px; color: #09f; font-size: 14px; text-align: center;}
.friendly-link a:hover{ opacity: .7; filter: Alpha(opacity=70);}

/* 新闻详情页 */
.left-news{ width: 870px; padding:10px; margin-right: 20px; background: #fff;}
.news-item.mt-100{ margin-top: 50px;}

.left-news h2{ margin-bottom: 30px; padding-bottom: 10px; border-bottom: solid 1px #dfdfdf; color: #333; font-size: 48px;}